# --------------------------------------
# OS Generated
# --------------------------------------
.DS_Store          # macOS
Thumbs.db          # Windows

# --------------------------------------
# Applications / Binaries
# --------------------------------------
*.app
*.exe
*.war

# --------------------------------------
# Media files
# --------------------------------------
*.mp4
*.tiff
*.avi
*.flv
*.mov
*.wmv

# --------------------------------------
# Python
# --------------------------------------
__pycache__/
*.py[cod]
*.pyc
venv/
env/

# --------------------------------------
# IDEs / Editors
# --------------------------------------
.vscode/
.idea/
*.swp

# --------------------------------------
# Logs
# --------------------------------------
*.log

# --------------------------------------
# Temporary / Cache
# --------------------------------------
*.tmp
*.temp
*.tgz
*.sqlite3

# --------------------------------------
# Celery
# --------------------------------------
*/celerybeat-schedule.bak
*/celerybeat-schedule.dat
*/celerybeat-schedule.dir

# --------------------------------------
# Batch / Env files
# --------------------------------------
*.bat
*.env